<div class="timeslots">
    <h2>Timeslots</h2>
  
    <form (submit)="createTimeslot()">
      <input [(ngModel)]="newTimeslot.name" name="name" placeholder="Timeslot Name" required>
      <input [(ngModel)]="newTimeslot.start" name="start" type="datetime-local" placeholder="Start Time" required>
      <input [(ngModel)]="newTimeslot.end" name="end" type="datetime-local" placeholder="End Time">
      <button type="submit">Create Timeslot</button>
    </form>
  
    <ul>
      <li *ngFor="let timeslot of timeslots">
        {{ timeslot.name }} - {{ timeslot.start }} to {{ timeslot.end }}
        <button (click)="deleteTimeslot(timeslot.id)">Delete</button>
      </li>
    </ul>
  </div>