<div class="flex">
  <button mat-stroked-button (click)="dayBefore()">
    Day before
  </button>

  <button mat-stroked-button (click)="today()">
    Today
  </button>

  <button mat-stroked-button (click)="dayAfter()">
    Day after
  </button>
</div>

<div class="date">
  {{ date | date }}
</div>


<div class="word-suggestions">
  <input type="text" placeholder="Last activity..." [(ngModel)]="word" (input)="onInputChange($event)"
    (keydown.enter)="onEnter()">
  <ul *ngIf="showSuggestions">
    <li *ngFor="let suggestion of suggestions" (click)="onSelectSuggestion(suggestion)">
      {{ suggestion }}
    </li>
  </ul>
</div>

<div class="today-activities">
  <h3>Today's Activities</h3>
  <ul>
    <li *ngFor="let activity of activities">

      <a mat-stroked-button href="/#/activities/edit/{{activity.id}}">edit</a>

      {{ activity.name }} ({{ activity.created_at | date: 'shortTime' }})
    </li>
    <li *ngIf="activities.length === 0">
      No activities yet
    </li>
  </ul>
</div>