/* projects.component.css */
.projects {
    margin: 2rem;
  }
  
  .projects form {
    margin-bottom: 1rem;
  }
  
  .projects ul {
    list-style-type: none;
    padding: 0;
  }
  
  .projects li {
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
  }
  
  .projects button {
    margin-left: 1rem;
  }
  
  .breaker {
    margin: 50px 0;
    display: block;
}

.full-width {
  display: block;
  width: 100%;
}