<div class="projects">
  <h2>Projects</h2>

  <form (submit)="createProject()">

    <mat-form-field class="example-full-width">
      <mat-label>Project Name</mat-label>
      <input matInput [(ngModel)]="newProject.name" name="name" placeholder="Project Name" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Project Name</mat-label>
      <input matInput [(ngModel)]="newProject.color" name="color" placeholder="Color" required>
    </mat-form-field>

    <button mat-stroked-button type="submit">Create Project</button>
  </form>

  <ul>
    <li *ngFor="let project of projects">
      {{ project.name }} - {{ project.color }}
      <button color="warn" mat-stroked-button  (click)="deleteProject(project.id)">Delete</button>
    </li>
  </ul>
</div>