<div class="edit-timeslot">
    <h2>Edit Timeslot</h2>
    <form (ngSubmit)="updateTimeslot()">
      <mat-form-field>
        <mat-label>Projects</mat-label>
        <mat-select [(ngModel)]="timeslot.project_id" name="project_id">
          <mat-option *ngFor="let project of projects$ | async" [value]="project.id">{{ project.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Projectname</mat-label>
        <input [(ngModel)]="timeslot.name" name="name" matInput placeholder="Your cool project" value="">
      </mat-form-field>


      <div class="flex">
        <mat-form-field class="half">
          <mat-label>Choose a startdate</mat-label>
          <input (dateChange)="dateChanged($event, 'start')" matInput [matDatepicker]="startPicker"
            [formControl]="startDate">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field class="half">
          <mat-label>Choose a starttime</mat-label>
          <input matInput type="time" (change)="timeChanged($event, 'start')" [formControl]="startTime">
        </mat-form-field>
      </div>

      <div class="flex">
        <mat-form-field class="half">
          <mat-label>Choose an enddate</mat-label>
          <input (dateChange)="dateChanged($event, 'end')" matInput [matDatepicker]="endPicker" [formControl]="endDate">
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field class="half">
          <mat-label>Choose an endtime</mat-label>
          <input matInput type="time" (change)="timeChanged($event, 'end')" [formControl]="endTime">
        </mat-form-field>
      </div>

      <button mat-stroked-button type="submit">Update Timeslot</button>
    </form>
  </div>